<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="caseStudy Selenium">
	<test name="caseStudy Slenium Test">


		<!-- //browserName -->
		<parameter name="browser" value="chrome" />

		<!-- //localFilesLocation -->

		<parameter name="ChromeDriverPath"
			value="/Users/goutambalasubramanian/Downloads/geckodriver" />

		<parameter name="FirefoxDriverPath"
			value="/Users/goutambalasubramanian/Downloads/chromedriver" />

		<parameter name="failedScreenshotForAssignment"
			value="/Users/goutambalasubramanian/eclipse-workspace/caseStudySelenium/failedScreenshots" />

		<parameter name="property1Path"
			value="/Users/goutambalasubramanian/eclipse-workspace/caseStudySelenium/src/test/java/caseStudySelenium/caseStudySelenium/input1.Properties" />

		<parameter name="property2Path"
			value="/Users/goutambalasubramanian/eclipse-workspace/caseStudySelenium/src/test/java/caseStudySelenium/caseStudySelenium/input2.Properties" />

		<parameter name="property3Path"
			value="/Users/goutambalasubramanian/eclipse-workspace/caseStudySelenium/src/test/java/caseStudySelenium/caseStudySelenium/input3.Properties" />

		<parameter name="readFromExcelPath"
			value="/Users/goutambalasubramanian/eclipse-workspace/caseStudySelenium/caseStudyAssgnment.xlsx" />

		<parameter name="excellFileNAme"
			value="caseStudyAssgnment.xlsx" />

		<parameter name="excellSheetName" value="Sheet1" />

		<!-- //urls -->
		
		<parameter name="url1" value="https://demoqa.com/" />

		<parameter name="url2" value="https://www.olay.co.uk/en-gb" />

		<parameter name="url3" value="https://www.olaz.de/de-de" />

		<parameter name="url4" value="https://www.olay.es/es-es" />

		<parameter name="url5" value="https://www.makemytrip.com/" />

		<classes>
			<class name="caseStudySelenium.caseStudySelenium.assignment1" />

			<class name="caseStudySelenium.caseStudySelenium.assignment2" />

			<class name="caseStudySelenium.caseStudySelenium.assignment3" />

		</classes>
	</test>
</suite>  